@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Poppins, sans-serif;    
}

body{
    background-color: #101d30;
}

form{
    width: 500px;
    color: white;
    padding: 48px;
    background-color: #1a3a69;
    border-radius: 16px;
    font-weight: 500;
}

.btn{
    background-color: #33B8B8;
    margin-top: 16px;
}

label{
    margin-top: 8px;
}

